#sidebar {
    min-width: 15rem;
    max-width: 15rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    background-image: linear-gradient(180deg, var(--bs-primary) 0%, var(--bs-black) 150%);
    display: block;
}

    #sidebar.auto-expanded {
        display: none;
    }

    #sidebar .menu-closeonclick-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

::deep .sidebar-header {
    padding: 2rem 1rem;
}

.logo {
    text-align: center;
}

::deep .menu-button-container {
    align-self: center;
}

.menu-button {
    padding: 0.375rem;
    width: 1rem;
    height: 1rem;
    background-image: url("images/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

::deep .menu.display-mobile {
    margin-bottom: 2rem;
}

::deep .menu {
    background-color: inherit;
}

    ::deep .menu .dxbl-menu-item-list {
        gap: 0.5rem;
    }

::deep .menu-item {
    color: var(--bs-white);
}

::deep .icon {
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
}

::deep .home-icon {
    background-image: url("images/home.svg");
}

::deep .weather-icon {
    background-image: url("images/weather.svg");
}

::deep .counter-icon {
    background-image: url("images/counter.svg");
}


::deep .docs-icon {
    mask-image: url("images/doc.svg");
    -webkit-mask-image: url("images/doc.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

::deep .demos-icon {
    mask-image: url("images/demos.svg");
    -webkit-mask-image: url("images/demos.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--dxbl-btn-color);
}

::deep .footer-button:hover .demos-icon {
    background-color: var(--dxbl-btn-hover-color);
}

::deep .footer-button:hover .docs-icon {
    background-color: var(--dxbl-btn-hover-color);
}

::deep .footer {
    text-align: center;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
}

    ::deep .footer .icon {
        margin-left: 0;
    }

#sidebar.auto-expanded ::deep .layout-item {
    display: block;
}

#sidebar.auto-expanded ::deep .footer {
    display: block;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: inherit;
        max-width: inherit;
        display: block;
    }

        #sidebar .menu-closeonclick-placeholder {
            display: block;
        }

        #sidebar.auto-expanded {
            position: fixed;
            width: 100%;
            z-index: 3;
            display: block;
        }

            #sidebar.auto-expanded ::deep .sidebar-header {
                border-bottom: 1px solid var(--bs-white);
            }

            #sidebar.auto-expanded .menu-button {
                background-image: url("images/close.svg");
                width: 1.875rem;
                height: 1.875rem;
            }

        #sidebar:not(.auto-expanded) ::deep .dxbl-gridlayout-root {
            gap: unset !important;
        }

    .logo {
        text-align: inherit;
    }

    ::deep .menu-button-container {
        display: block;
    }

    ::deep .layout-item {
        display: none;
    }

    ::deep .footer {
        display: none;
    }
}