@page "/"
@inject IJSRuntime JSRuntime 

<div id="map"></div>

@code { 
    protected override void OnAfterRender(bool firstRender) {
        base.OnAfterRender(firstRender);
        JSRuntime.InvokeVoidAsync("renderMap");
    }
} 
